export JAVA_HOME=/usr/lib/jvm/jdk1.8.0
#export JAVA_HOME=/usr/lib/jvm/java-7-openjdk-i386/
export DERBY_HOME=$JAVA_HOME/db
export MAVEN_HOME=$HOME/soft/apache-maven
export ANT_HOME=$HOME/soft/apache-ant
export ORACLE_HOME=/usr/lib/oracle/xe/app/oracle/product/10.2.0/server/
export ORACLE_SID=XE
export PATH=$PATH:$MAVEN_HOME/bin:$ORACLE_HOME/bin:$ANT_HOME/bin

export TNS_ADMIN=$ORACLE_HOME/network/admin/tnsnames.ora
alias sqlplus='/usr/bin/rlwrap -m ${ORACLE_HOME}/bin/sqlplus'

export GRAILS_HOME="$HOME/soft/grails"
export PATH=$PATH:$GRAILS_HOME/bin

export REBEL_HOME="$HOME/soft/jrebel"
export AS_HOME="$HOME/soft/glassfish3"
export PATH=$PATH:$AS_HOME/bin

export SENCHA_SDK_TOOLS="$HOME/soft/sencha-sdk-tools"
export PATH=$PATH:$SENCHA_SDK_TOOLS

export MONGO_HOME="$HOME/soft/mongodb"
export PATH=$PATH:$MONGO_HOME/bin

export METRO_HOME=$HOME/soft/metro

export ANDROID_SDK_HOME="$HOME/soft/android-sdk"
export PATH=$PATH:$ANDROID_SDK_HOME/tools:$ANDROID_SDK_HOME/platform-tools:$ANDROID_SDK_HOME/build-tools/22.0.1

export ASPECTJ_SDK_HOME="$HOME/soft/aspectj"
export PATH=$PATH:$ASPECTJ_SDK_HOME/bin

export NODE_HOME="$HOME/soft/node-js/"
export PATH=$PATH:$NODE_HOME/bin

#export GROOVY_HOME="$HOME/soft/groovy/"
#export PATH=$PATH:$GROOVY_HOME/bin

export EDITOR=vim

export SBT_HOME="$HOME/soft/sbt"
export PATH=$PATH:$SBT_HOME/bin

export HEROKU_PATH="/usr/local/heroku/"
export PATH=$PATH:$HEROKU_PATH/bin

export SENCHA_CMD_3_0_0="$HOME/nobackup/soft/sencha2.3/cmd/Sencha/Cmd/5.0.0.160"
export PATH=$PATH:$SENCHA_CMD_3_0_0

#export SCALA_HOME="$HOME/soft/scala-2/"
#export PATH=$PATH:$SCALA_HOME/bin

#[[ -s "$HOME/.gvm/bin/gvm-init.sh" ]] && source "$HOME/.gvm/bin/gvm-init.sh"

[[ -s "$HOME/.exports.local" ]] && source "$HOME/.exports.local"

