export LC_ALL=en_US.UTF-8
export PATH=$PATH:$HOME/bin
export EDITOR=vim

if command -v hostname &> /dev/null
then
  [[ -s "$HOME/.exports.local.$(hostname -s)" ]] && source "$HOME/.exports.local.$(hostname -s)"
fi
